<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://img.icons8.com/?size=48&id=EgRndDDLh8kS&format=png">
    <title>Welcome</title>
    <style>
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #007bff;
}

p {
  color: #555;
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

    </style>
</head>
<body>
    <h1>Welcome, <%= fullName %>!</h1>
    <p>You are now signed in.</p>
  <a href="/">Press here to back sign in page</a>
  
</html>
